In [1]:
import sqlite3
import matplotlib
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import utility_Copy1 as util
from mlxtend.plotting import plot_confusion_matrix
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.ensemble import RandomForestClassifier
import scipy

In [2]:
neo_lab_first_day = pd.read_csv('neo_lab_first_day.csv')

In [3]:
neo_lab_first_day.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ANIONGAP_min', 'ANIONGAP_max',
       'ALBUMIN_min', 'ALBUMIN_max', 'BANDS_min', 'BANDS_max',
       'BICARBONATE_min', 'BICARBONATE_max', 'BILIRUBIN_min', 'BILIRUBIN_max',
       'CREATININE_min', 'CREATININE_max', 'CHLORIDE_min', 'CHLORIDE_max',
       'GLUCOSE_min', 'GLUCOSE_max', 'HEMATOCRIT_min', 'HEMATOCRIT_max',
       'HEMOGLOBIN_min', 'HEMOGLOBIN_max', 'LACTATE_min', 'LACTATE_max',
       'PLATELET_min', 'PLATELET_max', 'POTASSIUM_min', 'POTASSIUM_max',
       'PTT_min', 'PTT_max', 'INR_min', 'INR_max', 'PT_min', 'PT_max',
       'SODIUM_min', 'SODIUM_max', 'BUN_min', 'BUN_max', 'WBC_min', 'WBC_max',
       'HADM_ID', 'Unnamed: 0', 'SUBJECT_ID', '30readflag'],
      dtype='object')

In [13]:
neo_lab_first_day

,subject_id,hadm_id,icustay_id,ANIONGAP_min,ANIONGAP_max,ALBUMIN_min,ALBUMIN_max,BANDS_min,BANDS_max,BICARBONATE_min,...,SODIUM_min,SODIUM_max,BUN_min,BUN_max,WBC_min,WBC_max,HADM_ID,Unnamed: 0,SUBJECT_ID,30readflag
0,1189.0,100023.0,281211.0,NaN,NaN,NaN,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,17.7,17.7,100023,0,1189,0
1,4528.0,100025.0,280315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100025,1,4528,0
2,14509.0,100029.0,222038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.1,10.1,100029,2,14509,0
3,677.0,100044.0,289655.0,11.0,16.0,NaN,NaN,NaN,NaN,21.0,...,139.0,146.0,NaN,NaN,12.6,12.6,100044,3,677,0
4,1549.0,100055.0,215944.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,17.3,17.3,100055,4,1549,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,119944,7569,16414,1
8084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,140278,7693,20749,0
8085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150381,7750,29973,1
8086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,169226,7873,11145,1
8087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,179837,7947,17498,1

In [4]:
neo_bloog_gas_all_time_dropna = neo_lab_first_day.dropna(axis= 1, how = 'all')
pco2_score = neo_bloog_gas_all_time_dropna['GLUCOSE_max']
pco2_score.value_counts()

76.0     11
82.0      9
86.0      9
63.0      8
70.0      8
         ..
418.0     1
21.0      1
124.0     1
134.0     1
243.0     1
Name: GLUCOSE_max, Length: 169, dtype: int64

In [5]:
pco2_score2 = pco2_score
pco2_score[(pco2_score2.values<=250)]  = 1
pco2_score[(pco2_score2>250)] = 3
#pco2_score[(pco2_score2>=160) & (pco2_score2<=180)] = 3
#pco2_score[np.isnan(pco2_score2)] = 1

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less_equal

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
pco2_score = pco2_score.fillna(1)

In [7]:
neo_bloog_gas_all_time_dropna['glucose_max_score'] = pco2_score

In [8]:
neo_basic_label_df_feature_SNAP = pd.read_csv('neo_los_basic_df.csv')
sub = pd.DataFrame(neo_bloog_gas_all_time_dropna[['glucose_max_score','HADM_ID']])
neo_basic_label_df_feature_SNAP = util.merge(neo_basic_label_df_feature_SNAP,sub, 'inner','HADM_ID')
neo_basic_label_df_feature_SNAP.to_csv('glucose_max_score.csv',index = False)
neo_bloog_gas_all_time_dropna = neo_basic_label_df_feature_SNAP

In [9]:
cm00 = np.sum((neo_bloog_gas_all_time_dropna['los_bin']==0)& (neo_bloog_gas_all_time_dropna['glucose_max_score']<=1))
cm00
cm01 = np.sum((neo_bloog_gas_all_time_dropna['los_bin']==0)&(neo_bloog_gas_all_time_dropna['glucose_max_score']>1))
cm00
cm10 = np.sum((neo_bloog_gas_all_time_dropna['los_bin']==1)&(neo_bloog_gas_all_time_dropna['glucose_max_score']<=1))
cm10
cm11 = np.sum((neo_bloog_gas_all_time_dropna['los_bin']==1)&(neo_bloog_gas_all_time_dropna['glucose_max_score']>1))
cm11

cm = np.array([[cm00,cm01],[cm10,cm11]])

In [10]:
print(cm)
print(cm01/(cm00+cm01))
print(cm11/(cm10+cm11))

[[6003    1]
 [1948   22]]
0.00016655562958027982
0.01116751269035533

In [11]:
util.chi2(cm)

6004.0
chi 62.415792713357035
pval 2.7808427289342015e-15

(62.415792713357035, 2.7808427289342015e-15)

In [ ]:
scipy.stats.chi2.sf(4.102, 1)